*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 50%;
    margin: 50px auto;          
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px solid black;
}
.box{   
    box-shadow: 5px solid black;    
    width: 60%;
    height:230px;
    background-color:darkgray;
    transition: 0.5s;
}
.img1{
    background-image: url('tomc.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    background-repeat: no-repeat;
    margin: 10px 10px;
    margin-left: 30px;
    
}

.img2{
    background-image: url('RDJ.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    background-repeat: no-repeat;
    margin: 10px 10px;
    margin-left: 30px;
    
}
.img3{
    background-image: url('hems.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    background-repeat: no-repeat;
    margin: 10px 10px;
    margin-left: 30px;
    
}
.img4{
    background-image: url('keanu.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    background-repeat: no-repeat;
    margin: 10px 10px;
    margin-left: 30px;
    
}
.layout1{
    display: flex;

}
.layout2{
    display: flex;
  
}
.layout3{
    display: flex;
   
}
.layout4{
    display: flex;
    
}
.content{
    font-size: 25px;
    margin: 40px 40px;
   
   
}
.content >h1{
    font-weight: 40px;
}
.content >p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 70px;
}


.brbtm{
    margin-top: 30px;
    margin-left:10px ;
    height: 150px;
    border: 1px solid whitesmoke;
}
