*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0s;
}
html,body{
    width: 100%;
    height: 100%;
}

.first_div{
    width: 30%;
    height: 30%;
   
    display: inline-block;
    margin-left: 230px; 
    margin-top:50px ;
    position: relative;
    perspective:800px;
    overflow: hidden;    
    background-color: black;
}
.second_div{

    width: 30%;
    height: 30%;

    display: inline-block;
    margin-left: 230px; 
    margin-top:50px ;
    position: relative;
    background-color: black;
    
}
img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.one:hover >img{
    transform: rotateX(130deg);   
}
.one>img{
    transform-origin:bottom;
    transition: 1s;
   
}
.texts{
    width: 100%;
    position: absolute;
    transition: 2s;
    transform-origin: top;
    transform: rotateX(90deg); 
    transform-origin: top;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
  
}
.content{
    position: absolute;   
    left: 0;
    bottom: 0;
    right:0;
    top:0;
    background-color:rgb(0,0,0);
    color:white;
    padding: 10px 30px;
    perspective: 800px;
   
}
.one:hover .texts{
    transform: rotateX(0deg);
}
.content>h1{
    margin-bottom: 30px ;
    padding-top: 20px;
}
.content>p{
    margin-bottom: 30px ;
}
.two:hover >img{
    transform: rotateY(130deg); 
    transform-origin:left;  
    transition: 2s;
    
}
.two:hover .slide2{
 
    transform: rotateY(0deg);
}
.slide2{
    width: 100%;
    position: absolute;
    transition: 1s;    
    transform: rotateY(90deg); 
    transform-origin: right;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    padding: 10px 30px;
    
}

.slide2 div {
    margin: auto;

}
.slide3{
  transform: scale(0);
  transform-origin: right;  
  right: 0;
  position: absolute;
  transition: 1s;
  padding: 10px 30px;
}

.slide3 {
    transform: rotateY(90deg);
    /* transform: scale(0); */
    transform-origin: left;
    transition: 1s;
}
.three:hover .slide3{
    transform: scale(1);
    /* transform-origin: right; */
    transition: 1s;

}   
.three{
    position: relative;
    transition: 1s;
}
.three:hover >img{
    transform: rotateY(90deg);
    transition: 1s;
    transform-origin: right;
    position: absolute;
    right: 0;

}



.slide4{
    transform: scale(0);
    transform-origin: bottom left ;
    position: absolute;
    right: 0;
    transition: 1s;
    padding: 10px 30px;
}

.imageee {
    transform: scale(1);
    transform-origin: top right;    
    transition: 1s;
}

.four:hover .slide4{
    transform: scale(1);

}

.four:hover .imageee{
    transform: scale(0);
    

}