*{
    padding: 0;
    margin: 0;

}
.main_img{
    background-image: url('https://images6.alphacoders.com/555/555077.jpg');
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.content{
     flex-direction: column;  
     font-family: "GodOfWar";
     width: 50%;
     
}
.content >h1{
    text-align: center;
    padding-bottom:  20px;
    font-size: 100px;
    transition: 1s;
    color: #D1D1D1;
    
   
}
.content >p{
    text-align: center;
    font-size: 20px;
    color: B8B8B8;
    font-weight: 600;
    color: rgba(215,32,0,0.6);
    transition: 1s;
}
.content:hover h1{
    color: rgba(215,32,0,0.6);
    transform: scale(1.5);
    transition: 1s;
    
}
.content:hover >p{
    color: #D1D1D1;
    transition: 1s;
}