@font-face {
    font-family: nokia;
    src: url('assets/nokiafc22.ttf');
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
*{  font-family:nokia;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 350ms ease-in-out;
    text-align: center;
}
h4{
    font-size: 20px;
}
.mine{
    width:50px ;
    
    
}

.title>*{
    padding: 0.5em;
    /* border: 1px solid black; */
    text-align: center;
}
.wrapper{
   width: 300px;
   min-width: 250px;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-wrap: wrap;
   margin: 1em auto;
   align-content: flex-start;
   /* border: 3px solid black; */
   
}
.box{
    display: block;
    min-width: 40px;
    min-height: 40px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    /* border-radius: 10px; */
    margin: 0.1em;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgb(193,193,192);
    /* padding: 1em; */
    font-size: 1.5em;
    text-align: center;

}
.bomb{
    /* background-image:url('bomb.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(193,193,192);
    /* border: 1px solid black ; */
    /* margin: 0 auto; */
}
.btn{
    padding: 1em;
    width: 100px;
    font-size: 1.1em;
    background-color: rgb(193,193,192)  ;
}
.winner{
    background-color:gold   ;
    color:  white;
    font-size: 40px;
    transition: 2s ease-in-out;
    width: 100%;
    /* border: 1px solid black; */
    display: block;
    padding: 0.2em;
}
.runner{
    background-color: red;
    color: white;
    font-size: 40px;
    /* transition: 2s ease-in-out; */
    width: 100%;
    /* border: 1px solid black; */
    display: block;
    padding: 0.2em;
}

.num{
    display: block;
    text-align: center;
    padding: 1em;
    /* margin: 1em auto; */
}
.result{
    padding: 0.5em;
}
#score{
    color: #ffae42;
    font-weight: 900;
    font-size: 25px;
}

/* @media screen and (min-width:481px) {
    .wrapper{
        width: 50%;
        
    }
    .box{
        width: 100px;
        height: 100px;
    }
    
}

@media screen and (min-width:822px) {
    .wrapper{
        width: 25%;
    }
} */