*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
body{
    background-color: black;
}
.nav{
   
    position: relative;
}
.home{
    background-image:url('https://images7.alphacoders.com/131/1318187.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    color: white;
}
.nav>ul{
    position: absolute;
    right:0;
    top:30px
}
.nav >ul li{    
    padding: 15px;
    font-size: 30px;
    display: inline-block;
    
    
}
.nav>ul>li>a{
    text-decoration: none;
    padding: 10px;
    color: white;
    
    
}
.nav>p{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 30px;
}
#highlight{
    border: #de7c04 3px solid;
    border-radius: 30px;
}
.main_content{
    text-align: center;
    padding-top:150px;
    color: #de7c04;
    
}
.main_content >h1{
    font-size: 80px;
    padding-bottom: 25px;
    
}
.main_content>a{
    text-decoration: none ;
    color:white;
    font-size: 30px;
    padding-top:30px ;
    background-color:#de7c04;
    border-radius: 30px;
    padding: 15px;

}
.main_content>p{
    font-size: 30px;
    font-weight: bolder;
}

.overview{
    text-align: center;
    padding: 20px;
    color: white;
}
.overview >h1{
    padding-top: 50px;
    font-size: 35px;
}
.overview>p{
    padding: 20px;
    text-align: center;
    width: 500px;
    margin: auto;
    font-size: 30px;
    color: white;
}
img{
    width: 800px;
    height: 350px;
    object-fit: cover;
    padding-left: 200px ;
    border-radius:10px;
}



.split1{
    
    position: relative;
    padding: 40px;
}
.text1{
    position: absolute;
    left:900px;
    top:100px;
    text-align: justify;
    margin: auto;
    color: white;
}
.text1>h1{
    font-size: 40px;
    padding: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 200px;
    top:-40px;
}
.text1>p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 500px;
    
}
.text1>span{
    position: absolute;
    left:200px;
    font-size: 25px;
    padding: 30px;
    background-color: #de7c04;
    padding: 10px;
    border-radius: 30px;

    
}

.split2{
   
    position: relative;
    padding: 40px;
    height: 450px;
}
.text2{
   position: absolute;
    color: white;
    left: 300px;
    top:100px;
   

}
.two{
    position: absolute;
    left: 800px;
}
.text2>h1{
    font-size: 40px;
    padding: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 120px;
    top:-40px;
}
.text2>p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 500px;
    
}
.text2>span{
    position: absolute;    
    font-size: 25px;
    background-color: #de7c04;
    padding: 10px;
    left: 160px;
    border-radius: 30px;

    
}

.footerimg{
    background-image: url('https://images2.alphacoders.com/131/1318225.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    color:white;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 20px;

}