    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-color: black;
        height: 100%;
        width: 100%;
    }
    .wrapper{
        height: 100%;
        width: 100%;
        
    }
    .nav{
        display: flex;
        justify-content: space-between;
        background-color:#ACC8E5 ;
        color: #112A46;
        width: 80%;
        height: 10vh ;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        margin: auto ;
        border-radius: 50px;
        margin-top: 30px;
    
    }
    .nav > a{
    
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .secnd{
        display: flex;
        /* justify-content:start; */
        background-color:#ACC8E5 ;
        color: #112A46;
        width: 80%;
        height: 10vh ;
        font-size: 30px;
    
        align-items: center;
        margin: auto;
        border-radius: 50px; 
        gap: 100px;

    }
    .secnd > a{
    
    display: flex;
    justify-content:start;
    align-items: start;
    margin-left: 40px;


    }
    .three{
        display: flex;
        justify-content:end;
        background-color:#ACC8E5 ;
        color: #112A46;
        width: 80%;
        height: 10vh ;
        font-size: 30px;
        
        align-items: center;
        margin: auto;
        border-radius: 50px; 
        gap: 100px;

    }
    .three > a{
    
    display: flex;
    justify-content:end;
    align-items: end;
    margin-left: 40px;
    margin-right: 40px;


    }
    .highlight{
        color: white;
    }