*{
    margin: 0;
    padding: 0;
    /* color: white; */
      transition: 350ms ease-in-out;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
  
}
:root{
    --main-color:orange;
    /* --main-color:pink; */
    --bg-color:#1E1F1F;
}
img{
    width: 35px;
}

.head-color{
    color: var(--main-color);
    font-size: 2.5em;
    margin: 1em;
}
.color-code{
    background-color: var(--main-color);
}
.done{
    text-decoration: line-through;
}
.addButton{
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2.5em;
    color: white;
}
.taskName,.f-color{
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    width: 40%;
}
.nav-bar>*{
    border-radius: 10px;
}
.inputBar{
    height: 50px;
    width: 60%;
    font-size: 1.3em;
    padding: 0.2em;
    /* width: ; */
    border-color: var(--main-color);
    background-color: transparent;
    color: white;
}
.taskList{
    /* border: 1px solid white; */
    width: 35%;
    /* border: 1px solid white; */
    margin: 1em;
}
.task{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: 1px solid white; */
}
.task>*{
    margin: 0.5em;
}
.status{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    /* border: 1px solid white; */
}
.status>*{
    font-size: 1.4em;
    padding: 0.2em;
}
.options{
    display: flex;
    justify-content: center;align-items: center;
}
.isdone{
    height: 40px;
    width: 20px;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    width: 80%;
    height: 0;
    scale: 0;
    overflow: hidden;
    transition: 350ms ease-in-out;
}
.option-visible{
    /* height: 100px; */
    height: auto;
    
    scale: 1;
}
.options>*{
    padding: 0.2em;
}

.Low,.low{
    /* color:white; */
    border-bottom: 2px solid white;
}
.Medium,.medium{
    /* color: yellow;
     */
      border-bottom: 2px solid var(--main-color);
}
.High,.high{
     border-bottom: 2px solid red;
}

/* .low{ */
    /* color: blue;
}
.medium{
    color: yellow;
}
.high{
    color: red;
} */
